<div class="row">
	<h1>
       <%=@fiction%>
       </h1>
</div>
<div class="row">
  <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
                    <img src="" alt="" />
        </div>
        <div class="content">
        <p>test</p>
          </div>
        </div>

    </div>
  <div class="card">
    <div class="content">
         <p>test2</p>
           </div>
    </div>
</div>

